.prodmixmaster {
   padding-top: 15em;
   background-image: url("/assets/images/background.jpg");
   text-align: center;
   display: flex;
   flex-direction: column;

   img {
      align-self: center;
   }

   #prodmixmaster-title {
      width: 60em;
      margin-bottom: 2em;
      transform: rotate(-2deg);
   }

   #prodmixmaster-sml {
      display: none;
   }

   .prodmixmaster-content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .detail-card {
         display: flex;
         flex-direction: column;
         margin: 0 2em;

         // card titles
         #prod-title {
            align-self: center;
            height: 5em;
            margin-bottom: 1em;
         }

         img {
            height: 6em;
         }

         iframe {
            border: 4px solid #fff;
            border-radius: 7px;
            width: 25em;
            height: 15em;
            margin-bottom: 1em;
         }

         // Size is diff here so need to adjust this by itself
         #production-detail-txt-lg {
            height: 12em;
         }

         #mix-detail-txt-lg {
            height: 7em;
         }

         #master-detail-txt {
            height: 11em;
         }
      }
   }
}

@media screen and (max-width: 1350px) {
   .prodmixmaster {
      #prodmixmaster-title {
         transform: rotate(-2deg);
      }

      .prodmixmaster-content {
         .detail-card {
            margin-bottom: 5em;
         }
      }
   }
}

@media screen and (max-width: 800px) {
   .prodmixmaster {
      #prodmixmaster-title {
         display: none;
      }

      #prodmixmaster-sml {
         display: block;
         width: 35em;
      }
   }
}

@media screen and (max-width: 450px) {
   .prodmixmaster {
      #prodmixmaster-sml {
         width: 25em;
      }
      .prodmixmaster-content {
         .detail-card {
            iframe {
               margin: 0 auto 2em auto;
            }
         }
      }
   }
}
